<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>JogE+</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../styles/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../styles/onda.css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav>
        <div class="logo">
           
            <a href="index.htm"> <img src="../../images/logoS.png" alt="Jogos Pedagógicos Digitais">
            </a>
        </div>
        <ul class="nav-links">
                <li>
                    <a href="info.htm"> Informações</a>
                 </li>

                 <li>
                     <a href="cadastro.php"> Cadastre-se</a>
                 </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
    </nav>
    <div class="back">       
    </div>
  
<div class="button">
    <a href="cadastro.php"> Cadastre-se para jogar </a>

    <p>Os nossos jogos Pedagógicos irão te <br> auxiliar a aprender sobre português e <br>
     matemática de forma simples e<br> objetiva.</p>
    </div>  
    
    <section>
        <div class="wave"></div>
      </section>

    <div class="rodape"></div>

   
    
    <script src='../scripts/nav.js'></script>
</body>
</html>

